@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #fffefe;
}

/* * {
  border: solid 1px red;
} */

/* * {
  margin: 0;
  padding: 0;
} */

#root {
  height: 100%;
  width: 100%;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.hori-scroll::-webkit-scrollbar {
  height: 0;
  color: #444444;
}

/* .vs */

.f-edge {
  margin: auto;
  max-width: 1024px;
}

@media only screen and (max-width: 420px) {
  .f-edge {
    margin: auto;
    max-width: full;
  }
}

.zaxis {
  height: 300px;
  transform: perspective(500px) rotateY(30deg) rotateX(10deg);
  /* translate: 30px; */
}

.zaxiss:hover {
  height: 300px;
  transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.2s;
  transform: perspective(500px) rotateY(20deg) rotateX(0deg) translate(-20px);
}
